/* .card {
    opacity: 0;
} */

.card__placeholder {
    height: 280px;
    animation: image-loading 1s linear infinite alternate;
}

@keyframes image-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
        transform: scale(1);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
        transform: scale(1);
    }
}