body {
    overflow-y: scroll;
}

@keyframes fadeinHoriz {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-horiz {
    animation: fadeInHoriz 0.8ms ease forwards;

}